.animation-bottom {
	position: absolute;
	top: 1100px;
	left: 1%;
	width: 98%;
	height: 40px;
}

.color {
	position: relative;
	width: 100px;
	height: 100%;
	background-color: rgb(228, 166, 33);
	animation: slidein 4s infinite alternate;
	animation-timing-function: linear;
	cursor: pointer;
}

.color:not(:hover) {
	animation-play-state: paused;
}

@keyframes slidein {
	0% {
		width: 100px;
	}

	100% {
		width: 100%;
	}
}



